<h2>Registro</h2>
<form action="/register" method="POST">
  <input type="text" name="first_name" placeholder="Nombre" required>
  <input type="text" name="last_name" placeholder="Apellido" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="number" name="age" placeholder="Edad">
  <input type="password" name="password" placeholder="Contraseña" required>
  <button type="submit" class="btn btn-primary">Registrarse</button>
</form>
<a href="/login">¿Ya tienes cuenta? Login</a>

